/* src/components/Navbar.css */

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Adjusted to keep nav links centered */
  z-index: 2;
}

.theme-toggle {
  position: absolute; /* Position it absolutely within the navbar */
  top: 10px; /* Push it slightly down from the top */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Adjust to the exact center */
  cursor: pointer;
}

.theme-toggle svg {
  width: 24px;
  height: 24px;
  transition: fill 0.3s;
}

.navbar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Ensures the nav section takes up available space */
  margin-top: 60px; /* Push the nav links down to accommodate the theme toggle */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
  display: block;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  transform: scale(1.1); /* Rubberband effect */
  box-shadow: 0 0 15px #1E90FF, 0 0 25px #1E90FF, 0 0 35px #1E90FF; /* Neon glow effect */
  background-color: #333;
  color: #fff;
}

/* Dark Mode Styles */
.dark-mode .navbar {
  background-color: #000;
}

.dark-mode .navbar a {
  color: #ccc;
}

.dark-mode .navbar a:hover {
  transform: scale(1.1); /* Rubberband effect */
  box-shadow: 0 0 15px #FF4500, 0 0 25px #FF4500, 0 0 35px #FF4500; /* Neon glow effect for dark mode */
  background-color: #444;
  color: #eee;
}

/* Light Mode Styles */
.light-mode .navbar {
  background-color: #fff;
  color: #000;
}

.light-mode .navbar a {
  color: #000;
}

.light-mode .navbar a:hover {
  transform: scale(1.1); /* Rubberband effect */
  box-shadow: 0 0 15px #1E90FF, 0 0 25px #1E90FF, 0 0 35px #1E90FF; /* Neon glow effect */
  background-color: #ddd;
  color: #000;
}

/* Social Media Links Styling */
.social-media {
  display: flex;
  justify-content: space-between; /* Icons side by side */
  width: 100%; /* Ensure full width */
  padding-bottom: 20px; /* Adjust padding for better spacing */
}

.social-media a {
  margin: 0 5px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2); /* Slight rubberband effect */
  box-shadow: 0 0 15px #1E90FF, 0 0 25px #1E90FF, 0 0 35px #1E90FF; /* Neon glow effect */
}
